<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <div class="row">
      <div class="col s12 m6">
        <div class="cover table">
          {% include sidebar.html %}
        </div>
      </div>
      <div class="col s12 m6">
        <div class="post-listing">
          <h4>Welcome</h4>
          <p>
            The Chennai Astronomy Club was started in November 2013 by a group of like minded individuals committed to the cause of promoting astronomy in Chennai. Our activities include star parties where astronomers head to dark locations outside the city limits to observe the skies with their equipment. We also conduct regular meetings, hangouts and outreach programs for schools, organisations and the less priviledged.
          </p>
          <p>
            Please check the <a href="/faq/">frequently asked questions</a> for details on joining the club, participating in our events, etc.
          </p>

          <h6>Events</h6>
          
          <p>
            Please check our <a href="https://forum.chennaiastronomyclub.org/c/events/14">forums</a> for the latest events.
          </p>
        </div>
      </div>
    </div>
    {% include js.html %}
  </body>
</html>
